{#
/**
 * @file
 * Template for the order receipt.
 *
 * Available variables:
 * - product: The product entity.
 * - user: The user entity.
 *
 * @ingroup themeable
 */
#}
<p>Great News!</p>
<p>The publication, {{ product.title }}.</p>
<p>Print copies can be ordered on the {{ site_name }} ({{ url('<front>') }}).</p>
<p>If you have questions about this publication or ordering publications, email your request to {{ site_email }}.</p>
<p>Questions?</p>
<p>Contact Us: {{ site_email }}</p>
